<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Hulk Store</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				
				<li class="nav-item"><a class="nav-link" th:href="@{/listado}">Productos</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

		<div th:object="${inventario}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/form}" th:object="${inventario}" method="post" enctype="multipart/form-data">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Producto</label>
				<div class="col-sm-6">
					<input type="text" required minlength="5" th:field="*{producto}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('producto')}" th:errors="*{producto}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Descripcion</label>
				<div class="col-sm-6">
					<input type="text" required minlength="5" th:field="*{descripcion}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('descripcion')}"
						th:errors="*{descripcion}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Precio</label>
				<div class="col-sm-6">
					<input type="text" required minlength="3" style="text-align:right" th:field="*{precio}" class="form-control"
						th:errorclass="'form-control alert-danger'" /><small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Cantidad</label>
				<div class="col-sm-6">
					<input type="number" min="1" style="text-align:right" required minlength="5" name="" class="form-control" th:field="*{cantidad}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></small>
				</div>

			</div>

			<div class="form-group row">
				<label for="file" class="col-sm-2 col-form-label">foto</label> <input
					type="file" name="file" class="form-control" />

			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear Producto" class="btn btn-primary" />
					<a th:href="@{/listado}" class="btn btn-primary">Volver</a>
				</div>
				
			</div>

		</form>
	</div>
</body>
</html>